extends ../shared/_layout
block StylesBlock
block ContentBlock

    h1 Hello

block ScriptsPluginBlock
block ScriptsBlock
    script(type='application/javascript').
        $(function () {
            setActiveLink('#dashboard');
        });