doctype html
//[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]
//[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]
//[if !IE]><!
html.no-js(lang='en')
    //<![endif]
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(content='width=device-width, initial-scale=1.0', name='viewport')
        meta(content='', name='description')
        meta(content='StormEye', name='author')
        meta(content='320', name='MobileOptimized')
        title ServantJS | 404 Server error!
        link(href='/plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
        link(href='/css/styles.css', rel='stylesheet', type='text/css')
        link(rel='shortcut icon' href='/img/favicon.ico')
    body.page-404-full-page
        .row
            .col-md-12(style='text-align: center; margin-top: 100px;')
                .number 404
                .details
                    h3= title
                    p
                        | #{text}
                        br
                        a(href='/')= home