extends ../../../views/shared/_layout
block StylesBlock
    style.
        .node-item {
            border-radius: 0;cursor: pointer;
        }
        .active-node {
            outline: 4px solid #25d634;
        }

block ContentBlock

    .row
        .col-xs-12
            h3.page-title #{pageTitle}
    .row
        .col-xs-3
            - each node in data
                .card.node-item
                    .card-block.text-center
                        input(name='id', type='hidden', value=node._id)
                        div= node.hostname
        .col-xs-9.settings



block ScriptsPluginBlock
block ScriptsBlock
    include ../../../views/shared/_validate

    script(type='application/javascript').
        var settingsWords = !{JSON.stringify(settingsWords)};
        $(function () {
            setActiveLink('#monitoring', '#monitoring-settings-sub');

            $('.node-item').first().addClass('active-node').end().on('click', function () {
                $('.active-node').removeClass('active-node');
                $(this).addClass('active-node');

                var $elem = $('.settings');
                $elem.empty();

                $elem.append('<div class="refresh-icon text-center">' +
                        '<i class="fa fa-refresh fa-spin fa-4x" style="color: lightgray"></i></div>');

                var id = $(this).find('input[name="id"]').val();

                $.ajax({
                    url: '/monitoring/settings/' + id, cache: false, success: function (result) {
                        if (result.ok) {
                            $elem.empty();
                            $elem.append('<div class="card metric-settings"><div class="card-header">' + settingsWords.title + '</div><div class="card-block"></div></div>');

                            var $select = $('<select class="form-select-sm margin-10-right"></select>');
                            var $selectComponent = $('<select class="form-select-sm"></select>');

                            $select.append('<option>Choose</option>');

                            var metrics = {};

                            result.data.metrics.forEach(function (item) {
                                if (item.component == null && !metrics.hasOwnProperty(item.sys_name)) {
                                    metrics[item.sys_name] = [];
                                } else if (item.component != null && !metrics.hasOwnProperty(item.sys_name.replace('.' + item.component, ''))) {
                                    metrics[item.sys_name.replace('.' + item.component, '')] = [item.component];
                                } else {
                                    if (item.component != null) {
                                        metrics[item.sys_name.replace('.' + item.component, '')].push(item.component);
                                    }
                                }
                            });

                            for (var k in metrics) {
                                var temp = metrics[k].join(',');
                                $select.append('<option data-components="' + temp + '">' + k + '</option>');
                            }

                            $select.on('change', function (e) {
                                var val = $(this).find('option:selected').data('components');

                                $selectComponent.empty();
                                $selectComponent.append('<option value="all">all</option>');

                                val.split(',').forEach(function (item) {
                                    if (item.length)
                                        $selectComponent.append('<option value="' + item + '">' + item + '</option>');
                                });

                            });

                            $elem.find('.card-block').append($select);
                            $elem.find('.card-block').append($selectComponent);


                        } else {
                            toastr.error(result.msg);
                        }
                    }
                });
            });

            $('.node-item').first().trigger('click');
        });